* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*test update*/
body {
    background: #000;
    color: white;
    overflow-x: hidden;
}

/* NAVBAR */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;

    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

/* Mobile Navbar */

@media(max-width:768px) {

    .hamburger {
        display: block;
    }

    .right-section {

        position: absolute;

        top: 80px;
        right: 0;

        width: 250px;

        background: rgba(0, 0, 0, 0.95);

        display: flex;
        flex-direction: column;

        padding: 20px;

        gap: 15px;

        transform: translateX(100%);
        transition: 0.4s;
    }

    .right-section.active {
        transform: translateX(0);
    }

    #searchInput {
        width: 100%;
    }

    .signin,
    .signup {
        text-align: center;
    }

}

.logo {
    filter: brightness(0) saturate(100%) invert(16%) sepia(95%) saturate(7486%) hue-rotate(356deg) brightness(91%) contrast(116%);
}

.logo img {
    width: 150px;
    fill: #e50914;
}

.buttons {
    display: flex;
    gap: 10px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

#themeToggle {

    background: #222;

    color: white;

    border: none;

    padding: 10px 15px;

    border-radius: 5px;

    cursor: pointer;
}

#searchInput {

    padding: 10px 15px;

    border: none;
    border-radius: 5px;

    outline: none;

    width: 220px;

    background: #222;
    color: white;
}

#searchInput::placeholder {
    color: #bbb;
}

.signin,
.signup {
    text-decoration: none;

    padding: 10px 20px;

    border-radius: 5px;

    font-weight: bold;

    transition: 0.3s;
}

.signin {
    background: #e50914;
    color: white;
}

.signup {
    background: white;
    color: black;
}

.signin:hover {
    background: #c40812;
}

.signup:hover {
    background: #e6e6e6;
}

/* HERO */

.hero {

    height: 100vh;

    background-image: url("background.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
}

.hero-content {

    position: relative;
    z-index: 2;

    text-align: center;
    max-width: 800px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.email-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.email-box input {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.email-box button {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background: #e50914;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .email-box {
        flex-direction: column;
        width: 100%;
    }

    .email-box input {
        width: 90%;
        max-width: none;
    }

    .email-box button {
        width: 90%;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}

.movie-card {
    position: relative;
    flex-shrink: 0;
}

.movie-card img {
    width: 220px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.4s;
}

.movie-card img:hover {
    transform: scale(1.08);
}

.movie-card {
    position: relative;
    overflow: hidden;
}

.movie-info {

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background: rgba(0, 0, 0, 0.9);

    color: white;

    padding: 15px;

    transform: translateY(100%);

    transition: 0.4s;
}

.movie-card:hover .movie-info {
    transform: translateY(0);
}

.movie-info h3 {
    margin-bottom: 8px;
}

.movie-info p {
    font-size: 14px;
    margin-bottom: 5px;
}

.movie-info button {

    margin-top: 10px;

    background: #e50914;

    color: white;

    border: none;

    padding: 8px 15px;

    border-radius: 5px;

    cursor: pointer;
}

.movie-card img {
    transition: 0.4s;
}

.movie-card:hover img {
    transform: scale(1.1);
}

.rank {
    position: absolute;
    left: -15px;
    bottom: -15px;

    font-size: 6rem;
    font-weight: 900;

    color: black;
    -webkit-text-stroke: 2px white;

    z-index: 2;
    pointer-events: none;
}

.rank {
    position: absolute;
    left: -5px;
    bottom: -7px;

    font-size: 3rem;
    font-weight: 900;
    color: #000;
    -webkit-text-stroke: 3px #fff;

    text-shadow:
        0 0 10px rgba(0, 0, 0, 0.8);

    z-index: 2;
}

@media(max-width:768px) {

    .rank {
        font-size: 4rem;
        left: -5px;
        bottom: -7px;
    }

}

/* MOVIES SECTION */

.movies-section {

    padding: 50px;
}

.movies-section h2 {

    font-size: 2rem;
    margin-bottom: 20px;
}

/* HORIZONTAL SCROLL */

.movies {

    display: flex;
    gap: 20px;

    overflow-x: auto;
    scroll-behavior: smooth;

    padding-bottom: 15px;
}

.movies::-webkit-scrollbar {
    height: 8px;
}

.movies::-webkit-scrollbar-thumb {
    background: #e50914;
    border-radius: 10px;
}

.movies img {

    width: 220px;
    height: 320px;

    object-fit: cover;

    border-radius: 10px;

    transition: 0.4s;
    cursor: pointer;
}

.movies img:hover {

    transform: scale(1.08);
}

/* MOBILE */

@media(max-width:768px) {

    nav {
        padding: 15px 20px;
    }

    .logo img {
        width: 110px;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }

    .email-box {
        flex-direction: column;
        align-items: center;
    }

    .email-box input {
        width: 90%;
    }

    .movies-section {
        padding: 20px;
    }

    .movies img {
        width: 170px;
        height: 250px;
    }

}

/* =========================
   MORE REASONS TO JOIN
========================= */

section {
    background: #000;
}

.reasons-section {
    padding: 60px;
    border-top: 8px solid #222;
}

.reasons-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.reasons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.reason-card {
    background: #1f1f1f;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.reason-card:hover {
    transform: translateY(-8px);
}

.reason-card h3 {
    margin-bottom: 15px;
    color: #e50914;
}

.reason-card p {
    color: #ccc;
    line-height: 1.6;
}


/* =========================
   FAQ SECTION
========================= */

.faq-section {
    padding: 60px;
    border-top: 8px solid #222;
}

.faq-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.faq-box {
    background: #2d2d2d;
    padding: 25px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.3rem;
    cursor: pointer;

    transition: 0.3s;
}

.faq-box:hover {
    background: #414141;
}

.faq {
    max-width: 900px;
    margin: auto;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {

    width: 100%;

    background: #2d2d2d;
    color: white;

    border: none;

    padding: 25px;

    font-size: 1.4rem;

    text-align: left;

    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.3s;
}

.faq-question:hover {
    background: #414141;
}

.faq-answer {

    background: #2d2d2d;

    max-height: 0;
    overflow: hidden;

    transition: max-height 0.4s ease;

}

.faq-answer p {
    padding: 25px;
    line-height: 1.7;
    font-size: 1.1rem;
}

.faq-item.active .faq-answer {
    max-height: 200px;
}

.faq-item.active .faq-question span {
    transform: rotate(45deg);
}

.faq-question span {
    font-size: 2rem;
    transition: 0.3s;
}


/* =========================
   FOOTER
========================= */

footer {
    border-top: 8px solid #222;
    padding: 60px;
    color: #999;
}

.footer-top {
    margin-bottom: 30px;
    font-size: 18px;
}

.footer-links {

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(200px, 1fr));

    gap: 15px;
}

.footer-links a {
    color: #999;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 40px;
    font-size: 14px;
}

body.light-mode {

    background: white;
    color: black;
}

body.light-mode .movies-section,
body.light-mode .reasons-section,
body.light-mode .faq-section,
body.light-mode footer {
    background: white;
    color: black;
}

body.light-mode .hero-content h1,
body.light-mode .hero-content p {
    color: white;
}

body.light-mode .reason-card {

    background: #f2f2f2;
    color: black;
}

body.light-mode .faq-question {

    background: #e5e5e5;
    color: black;
}

body.light-mode .faq-answer {

    background: #f5f5f5;
    color: black;
}

body.light-mode footer {

    background: white;
    color: black;
}

body.light-mode .reason-card h3 {
    color: rgb(218, 10, 10);
}

body.light-mode .reason-card p {
    color: black;
}

.modal {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.85);

    justify-content: center;
    align-items: center;

    z-index: 9999;

    backdrop-filter: blur(5px);
}

.modal-content {

    width: 90%;
    max-width: 600px;

    background: #181818;

    color: white;

    border-radius: 15px;

    overflow: hidden;

    position: relative;

    animation: popup 0.3s ease;
}

@keyframes popup {

    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-banner {

    width: 100%;
    height: 250px;

    object-fit: cover;
}

.modal-info {
    padding: 25px;
}

.modal-info h2 {

    font-size: 2rem;
    margin-bottom: 15px;
}

.modal-info p {

    color: #d2d2d2;
    line-height: 1.7;
}

.close-btn {

    position: absolute;

    top: 15px;
    right: 20px;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    background: rgba(0, 0, 0, 0.7);

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    font-size: 1.8rem;
}